*{scroll-behavior: smooth;}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.mapboxgl-ctrl-attrib-inner{
    display: none;
}
